#netbeans project
nbproject/

#zend studio project
.settings/
.buildpath
.project

#mac-files
._*
.AppleDouble
.DS_Store
.idea

#chrome extension files
*.pem
*.crx

#image files
screenshot.jpg
screenshot.psd
screenshot_smaller.psd
logo.psd
